spring:
  datasource:
    url: jdbc:mysql://localhost:3306/csmall_db?useSSL=false&useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai&allowMultiQueries=true
    username: root
    password: root
  application:
    #  为当前项目起名,这个名字会被Nacos记录并使用
    name: nacos-stock
  cloud:
    nacos:
      discovery:
        # 配置Nacos所在的位置,用于注册时提交信息
        server-addr: localhost:8848
        #ephemeral: false
dubbo:
  protocol:
    #port设置-1 表示当前Dubbo端口号是自动动态生成
    #会自动从20880开始寻找可用的端口号，就递增寻找下一个，直到找到可用为止
    port: -1
    #设置链接的名称，一般固定设置为dubbo
    name: dubbo
  registry:
    #声明当前Dubbo注册到的注册中心的类型和位置
    address: nacos://localhost:8848
  consumer:
    #当项目启动时，是否检查当前项目需要的所有Dubbo服务是否是可用状态
    #我们设置它的值为false，表示项目启动时不检查，所需的服务是否可用
    check: false
